@charset 'utf-8';

@import '../../node_modules/tachyons-custom/css/tachyons.css';
@import '../../node_modules/tachyons-custom/src/_variables.css';

/* Base rules */
svg {
  fill: currentColor;
}

/* Tachyons add-ons */
.h-1 {
  height: 1em;
}

.ma-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.flex-1 {
  flex: 1;
}

.o-cover {
  object-fit: cover;
}

/* Generic styles */
::selection {
  background-color: var(--light-pink);
  color: var(--navy);
}

.container {
  background-color: var(--hot-pink);
  background-image: repeating-linear-gradient(
      135deg,
      transparent,
      transparent var(--spacing-extra-large),
      var(--hot-pink) var(--spacing-extra-large),
      var(--hot-pink) var(--spacing-extra-extra-large)
    ),
    linear-gradient(135deg, var(--hot-pink) 20%, var(--navy));
  background-attachment: fixed;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--width-5), 1fr));
  grid-gap: var(--spacing-large);
}

.card-image,
.album-image[alt]:after {
  background-image: linear-gradient(135deg, var(--navy), var(--hot-pink));
}

.album-image[alt] {
  position: relative;
}

.album-image[alt]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-text {
  background-image: linear-gradient(to right, var(--navy), var(--hot-pink));
}

.spinner {
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@media (min-width: 38em) {
  header {
    grid-column: span 2;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}
