@charset 'utf-8';

@import '../../node_modules/tachyons-custom/css/tachyons.css';
@import '../../node_modules/tachyons-custom/src/_variables.css';

/* Base rules */
svg {
  fill: currentColor;
}

/* Tachyons add-ons */
.mt-auto {
  margin-top: auto;
}

.flex-1 {
  flex: 1;
}

/* Generic styles */
.container {
  background-color: var(--hot-pink);
  background-image: repeating-linear-gradient(
      135deg,
      transparent,
      transparent var(--spacing-extra-large),
      var(--hot-pink) var(--spacing-extra-large),
      var(--hot-pink) var(--spacing-extra-extra-large)
    ),
    linear-gradient(135deg, var(--hot-pink) 20%, var(--navy));
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--width-5), 1fr));
  grid-gap: var(--spacing-large);
}

.albums {
  display: contents;
}

@media (min-width: 38em) {
  header {
    grid-column: span 2;
  }
}
